<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="chat-wrap">
        <div class="public-header">
            <h3 class="title">
                {{title}}
            </h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="chat-box">
        </div>
        <div class="send-box">
            <input type="text" id="content" ng-model="content" name="">
            <span id="btnSend" ng-click="sendMsg()">发送</span>
        </div>
    </div>
</div>