<div class="bgfdf5f4">
    <div class="release-wrap">
        <div class="public-header">
            <h3 class="title">
                红包信息
            </h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="content-box">
            <textarea id="textContent" placeholder="输入想要对大家说的话，不超过200字..." ng-model="packetInfo.TextContent"></textarea>
            <div class="imgs-box clearfix">
                <div class="btn-box item-box">
                    <img src="images/icon_32.png">
                    <p>最大图片数8张</p>
                    <input class="camera-box" type="file" id="file" accept="image/*" multiple />
                </div>
            </div>
        </div>
        <div class="all-input">
            <div class="input-box">
                <span class="title">红包个数</span>
                <div class="other-box">
                    <input type="tel" id="pakectNumber" name="" ng-model="packetInfo.TotalNumber" placeholder="填写个数">
                    个
                </div>
            </div>
            <div class="input-box">
                <span class="title">总金额</span>
                <div class="other-box">
                    <input type="number" id="pakectAmount" name="" ng-model="packetInfo.Amount" placeholder="输入金额">
                    元
                </div>
            </div>
            <div class="input-box">
                <span class="title">位置范围</span>
                <div class="other-box">
                    <!-- <input type="text" name="" placeholder="填写个数"> -->
                    全市
                </div>
            </div>
            <p class="select">
                <span>精准筛选<i><img src="images/icon_33.png"><img src="images/icon_34.png" class="active"></i></span>
            </p>
            <div class="sift-box">
                <div class="input-box">
                    <span class="title">发布对象</span>
                    <div class="other-box">
                        <input type="number" name="" placeholder="请选择">
                    </div>
                </div>
                <div class="input-box">
                    <span class="title">外部链接</span>
                    <div class="other-box">
                        <input type="text" name="" placeholder="请粘贴" value="{{packetInfo.Link}}" />
                    </div>
                </div>
            </div>
            <p class="money" ng-show="packetInfo.Amount!=null" ng-hide="packetInfo.Amount==null">
                {{packetInfo.Amount}} <em>元</em>
            </p>
            <p class="money" ng-show="packetInfo.Amount==null" ng-hide="packetInfo.Amount!=null">
                0.00 <em>元</em>
            </p>
            <div class="btn" id="btnPublish" ng-click="publish()">
                塞钱进红包
            </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
</div>
