<div class="footer-box clearfix">
    <div class="item-box map" ui-sref="map">
        <img src="images/icon_8.png">
        <img src="images/icon_9.png" class="active-img">
        <p>红包</p>
    </div>
    <div class="item-box contacts" ui-sref="contacts">
        <img src="images/icon_10.png">
        <img src="images/icon_11.png" class="active-img">
        <p>人脉</p>
    </div>
    <div class="item-box" ui-sref="filtration">
        <img src="images/add.png" class="add">
    </div>
    <div class="item-box message" id="footer-msg" ui-sref="message">
        <img src="images/icon_12.png">
        <img src="images/icon_13.png" class="active-img">
        <p>消息</p>
    </div>
    <div class="item-box my" ui-sref="my">
        <img src="images/icon_14.png">
        <img src="images/icon_15.png" class="active-img">
        <p>我的</p>
    </div>
</div>