<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="msg-wrap">
        <div class="public-header">
            <h3 class="title">
                消息
            </h3>
        </div>
        <div class="pulic-search-box">
            <div class="input-box">
                <input type="text" ng-model="query" name="">
                <i><img src="images/search.png"></i>
            </div>
        </div>
        <div class="all-item">
            <!--<div class="item-box clearfix">
                <div class="img-box">
                    <img src="upload/logo.png">
                    <span class="nub">1</span>
                </div>
                <div class="txt-box">
                    <p class="name">官方助手 </p>
                    <p class="txt">感谢您使用共享人脉APP  </p>
                </div>
                <span class="time">11:17</span>
            </div>-->
            <div class="item-box clearfix" ng-click="goChat(chat.friendId,chat.name)" ng-repeat="chat in msgRecords| filter:query" ui-sref="chat">
                <div class="img-box">
                    <img src="{{chat.avatar}}">
                    <span class="nub" ng-show="chat.unReadNumber > 0" ng-hide="chat.unReadNumber == 0">{{chat.unReadNumber}}</span>
                </div>
                <div class="txt-box">
                    <p class="name">{{chat.name}} </p>
                    <p class="txt">{{chat.lastMsg|limitTo:20}}  </p>
                </div>
                <span class="time">{{chat.time}}</span>
            </div>
        </div>
    </div>
</div>   