<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgf0eff6">
    <div class="erwei-wrap">
        <div class="public-header">
            <h3 class="title">推广二维码</h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="user-box">
            <div class="user-top">
                <img src="images/icon_4.png">
            </div>
            <div class="user-info">
                <div class="user-img">
                    <img src="{{userAvatar}}">
                </div>
                <p class="info">共享人脉   让附近所有人都看到你的信息</p>
                <div id="qrCode" style="text-align:center;margin-top:20%">

                </div>
                <!--<div class="btn-box">
                    <div class="btn">生成</div>
                    <div class="btn">保存二维码</div>
                </div>-->
            </div>
        </div>
    </div>
</div>
