
<div class="agent_su-wrap">
    <div class="public-header">
        <h3 class="title">
            {{successInfo.header}}
        </h3>
        <div class="black-btn" ng-click="back()"></div>
    </div>
    <div class="info-box">
        <div class="img-box">
            <img src="images/icon_18.png">
        </div>
        <p class="title">{{successInfo.title}}</p>
        <p class="title_2">{{successInfo.details}}</p>
        <p class="time">返回（<i id="time">3</i>秒）</p>
        <h3>¥{{successInfo.amount}}</h3>
    </div>

</div>
<script type="text/javascript">
</script>
