<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="team-wrap">
        <div class="public-header">
            <h3 class="title">
                团队列表
            </h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="all-item">
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="upload/user.jpg"></div>
                <p>头吉祥渝乐推广</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
</div>
