<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="alter-wrap">
        <div class="public-header">
            <h3 class="title">
                {{updateInfo.title}}
            </h3>
            <div class="black-btn" ng-click="back()"></div>
            <div class="yes-btn" ng-click="save()">完成</div>
        </div>
        <div class="input-box">
            <input type="text" style="height:40px" ng-model="updateInfo.value" name="">
            <i><img src="images/close_4.png"></i>
        </div>
    </div>
</div>
