<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="personal-wrap">
        <div class="public-header">
            <h3 class="title">
                个人中心
            </h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="user-box">
            <div class="img-box">
                <img src="{{userInfo.AvatarUrl}}">
            </div>
            <p class="name">{{userInfo.Name}}</p>
            <span class="type" ng-show="userInfo.AgencyType == 1" ng-hide="userInfo.AgencyType != 1">市区代理</span>
            <span class="type" ng-show="userInfo.AgencyType == 2" ng-hide="userInfo.AgencyType != 2">全国代理</span>
            <span class="type" ng-show="userInfo.AgencyType == 0" ng-hide="userInfo.AgencyType != 0">非代理用户</span>
        </div>
        <div class="info-box clearfix">
            <div class="item-box">
                <p class="nub">{{userInfo.SendAmount}}</p>
                <p class="describe">发布总金额</p>
            </div>
            <div class="item-box">
                <p class="nub">{{userInfo.RecieveAmount}}</p>
                <p class="describe">抢到总金额</p>
            </div>
        </div>
        <div class="income-box">
            <p class="title"><span>收入概况</span></p>
            <div class="all-item clearfix">
                <div class="item-box">
                    <p>{{userInfo.TodayProfit}}</p>
                    <span>今日</span>
                </div>
                <div class="item-box">
                    <p>{{userInfo.MonthProfit}}</p>
                    <span class="bgf5b63d">本月</span>
                </div>
                <div class="item-box">
                    <p>{{userInfo.TotalProfit}}</p>
                    <span class="bga8d08e">累计</span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
</div>
