<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="deposit-wrap">
        <div class="public-header">
            <h3 class="title">
                提现
            </h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="type-box clearfix">
            <div class="img-box">
                <img src="images/icon_27.png">
            </div>
            <div class="txt-box" ng-click="updateAlipay()">
                <p class="title">支付宝</p>
                <p class="code">{{userInfo.AliPay}}（{{userInfo.AliPayName}}）</p>
            </div>
        </div>
        <div class="pay-box clearfix">
            <p class="title">提现金额</p>
            <input type="number" name="" readonly ng-model="withdrawInfo.withdrawAmount" placeholder="¥0.00">
            <div class="info-box">
                <span class="balance">可提现金额 {{withdrawInfo.totalAmount}}元</span>
                <span class="all" ng-click="withdrawAll()">全部提现</span>
            </div>
        </div>
        <div class="btn-box">
            <span class="btn" ng-click="submit()">两天内到帐，确认提现</span>
        </div>
        <div class="other-box">
            <p>提现说明</p>
            <p>1、余额大于10元才能提现</p>
            <p>2、若提现失败，将会退回原账户</p>
            <p>3、若遇法定节假日、公假日，到帐日期顺延</p>
            <p>4、系统默认将钱打入支付宝账户</p>
        </div>
    </div>
    <script type="text/javascript">

    </script>
</div>
