<title>Welcome</title>
<text>welcome!</text>

<!-- page specific plugin scripts -->
<script type="text/javascript">
    var scripts = [null, null]
    ace.load_ajax_scripts(scripts, function () {
        //inline scripts related to this page
        jQuery(function ($) {
        })
    });
  
</script>