<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-coffee green"></i>
                请输入您的登录信息
            </h4>

            <div class="space-6"></div>
            <form action="/controlcenter/page">
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="账号" />
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" placeholder="密码" />
                            <i class="ace-icon fa fa-lock"></i>
                        </span>
                    </label>
                    <div class="space"></div>
                    <div class="clearfix">
                        <label class="inline">
                            <input type="checkbox" class="ace">
                            <span class="lbl"> 记住我</span>
                        </label>

                        <button id="login" type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i id="loginingIcon" class="hidden ace-icon fa fa-spinner fa-spin white bigger-125"></i>
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110">登录</span>
                        </button>
                    </div>
                    <div class="space-4"></div>
                </fieldset>
            </form>

        </div><!-- /.widget-main -->
    </div><!-- /.widget-body -->
</div>